<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wanjukim.gallerywidget">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".AndroidApplication"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.wanjukim.gallerywidget.WidgetProvider"
            android:label="Widget Test">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider"/>
        </receiver>

        <activity android:name=".activities.ConfigWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.aciton.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.GalleryMenuActivity"
            android:label="@string/config_option_button_gallery">
        </activity>

        <activity android:name=".activities.TextMenuActivity"
            android:label="@string/config_option_button_changetext">
        </activity>

    </application>
</manifest>